<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT content ANY>
<!ATTLIST content id ID #REQUIRED>
<!ELEMENT services ANY>
<!ATTLIST services id ID #REQUIRED>
<!ELEMENT portfolio ANY>
<!ATTLIST portfolio id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1063" key="ac91f93a-02e6-42ed-be70-a56acb6cd70c" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-10-10T10:55:10" updateDate="2017-10-10T10:55:10" nodeName="Home" urlName="home" path="-1,1063" isDoc="" nodeType="1062" creatorName="Steve" writerName="Steve" writerID="0" template="1061" nodeTypeAlias="home">
    <blog id="1066" key="02fd90a1-1df1-4fc5-ad02-2c157efe1164" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2017-10-10T13:20:57" updateDate="2017-10-11T12:30:30" nodeName="Blog" urlName="blog" path="-1,1063,1066" isDoc="" nodeType="1065" creatorName="Steve" writerName="Steve" writerID="0" template="1064" nodeTypeAlias="blog" />
    <portfolio id="1070" key="f8752ad4-2794-4329-adb1-83ae8cae523a" parentID="1063" level="2" creatorID="0" sortOrder="2" createDate="2017-10-10T13:38:10" updateDate="2017-10-11T12:30:49" nodeName="Portfolio" urlName="portfolio" path="-1,1063,1070" isDoc="" nodeType="1069" creatorName="Steve" writerName="Steve" writerID="0" template="1068" nodeTypeAlias="portfolio" />
    <services id="1073" key="686dedd8-082c-4319-bd63-e1c0b399e9d5" parentID="1063" level="2" creatorID="0" sortOrder="3" createDate="2017-10-10T13:44:33" updateDate="2017-10-11T12:30:55" nodeName="Services" urlName="services" path="-1,1063,1073" isDoc="" nodeType="1072" creatorName="Steve" writerName="Steve" writerID="0" template="1071" nodeTypeAlias="services" />
    <content id="1076" key="5cfc0fdb-9ab6-4e6b-86c8-d072e3a33cdc" parentID="1063" level="2" creatorID="0" sortOrder="4" createDate="2017-10-10T13:49:23" updateDate="2017-10-11T12:31:17" nodeName="About" urlName="about" path="-1,1063,1076" isDoc="" nodeType="1075" creatorName="Steve" writerName="Steve" writerID="0" template="1074" nodeTypeAlias="content" />
    <contact id="1079" key="a56c2163-c979-4237-8372-572cb9fb3f38" parentID="1063" level="2" creatorID="0" sortOrder="5" createDate="2017-10-10T13:54:00" updateDate="2017-10-11T12:31:13" nodeName="Contact" urlName="contact" path="-1,1063,1079" isDoc="" nodeType="1078" creatorName="Steve" writerName="Steve" writerID="0" template="1077" nodeTypeAlias="contact" />
  </home>
</root>